<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">


</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="#">Giới thiệu</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Sản phẩm</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Hỗ trợ</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Tin tức</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                        <div class="header-right">
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="header-hotline">
                                <div class="hotline-box">
                                    <div class="hotline-img">
                                        <img src="./img/svg/icon-hotline.svg" alt="icon-hotline.svg">
                                    </div>
                                    <a href="tel:0988405407" class="hotline-icon">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <div class="hotline-text">
                                        <p class="hotline-tt t-uppercase">
                                            hotline
                                        </p>
                                        <a href="tel:0988405407" class="hotline-number">
                                            0988 405 407
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banners banners-page" style="background-image: url(./img/banner-lienhe.png);">
                <div class="banner-wrapper">
                    <div class="banner-slide">
                        <h3 class="page-title tt-70" data-aos="fade-down">
                            Liên hệ
                        </h3>
                    </div>

                </div>
            </div>

            <div class="breadcrumb" >
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list ">
                            <a href="news.html">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="sec-lienhe">
                <div class="container">
                    <div class="cols">
                        <div class="col" data-aos="fade-left">
                            <div class="home-adfree">
                                <div class="home-head">
                                    <h3 class="home-title tt-33 f-semi t-uppercase">
                                        Liên hệ với chúng tôi
                                    </h3>
                                    <p class="home-label f-light f-italic">
                                        (Quý khách vui lòng để lại lời nhắn, chúng tôi sẽ liên lạc ngay)
                                    </p>
                                </div>
                                <form action="#">
                                    <div class="home-form">
                                        <div class="home-cl">
                                            <div class="home-group">
                                                <input type="text" class="f-control" placeholder="Tên của bạn">
                                            </div>
                                            <div class="home-group">
                                                <input type="text" class="f-control" placeholder="Số điện thoại">
                                            </div>
                                        </div>
                                        <div class="home-cl">
                                            <div class="home-group">
                                                <input type="text" class="f-control" placeholder="Email">
                                            </div>
                                            <div class="home-group">
                                                <input type="text" class="f-control" placeholder="Tên công ty">
                                            </div>
                                        </div>

                                        <div class="home-group">
                                            <input type="text" class="f-control" placeholder="Địa chỉ">
                                        </div>
                                        <div class="home-group">
                                            <select class="f-select f-control">
                                                <option disabled="" selected="">Đặt hàng</option>
                                                <option value="1">dasd</option>
                                            </select>
                                        </div>
                                        <div class="home-group">
                                            <textarea class="f-control" cols="30" rows="10"></textarea>
                                        </div>
                                        <button class="btn">Gửi tin nhắn</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <div class="wrapper-info">
                                <h3 class="tt tt-33 f-semi t-uppercase">Công ty tnhh kỹ thuật hải âu </h3>
                                <div class="cl-info">
                                    <div class="col-item" data-aos="fade-up">
                                        <h4 class="tt-item">Trụ sở chính</h4>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-location.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Số 56 Đường 54, P.Tân Tạo, Q.Bình Tân, TP.HCM
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-call.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Tel: <a href="#" class="link active">028.62602481 </a> / <a href="#"
                                                    class="link">028.62600852</a>
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-fax.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Fax: 028.62602486
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-email.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Email: info@hacomoto.com
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-map.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Xem bản đồ
                                                <a class="popup-gmaps"
                                                    href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
                                                    (Show map)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-item" data-aos="fade-up">
                                        <h4 class="tt-item">Văn phòng đại diện hà nội</h4>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-location.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Số 11, DV07, KĐT Tây Nam Linh Đàm,
                                                P.Hoàng Liệt, Q. Hoàng Mai, Hà Nội
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-call.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Tel: <a href="#" class="link active">024.36845888 </a> / <a href="#"
                                                    class="link"> 024.36847888</a>
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-fax.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Fax: 024.36496888
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-email.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Email: info@hacomoto.com
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-map.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Xem bản đồ
                                                <a class="popup-gmaps"
                                                    href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
                                                    (Show map)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-item" data-aos="fade-up">
                                        <h4 class="tt-item">Kho hàng tổng</h4>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-location.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Số 1 - 3 - 5 Đường 52B, P.Tân Tạo, Q.Bình Tân, TP.HCM
                                            </div>
                                        </div>
                                        <div class="item-txt ">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-call.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Tel: <a href="#" class="link active">028.62602481 </a>
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-fax.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Fax: 028.62602486
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-email.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Email: info@hacomoto.com
                                            </div>
                                        </div>
                                        <div class="item-txt">
                                            <div class="item-icon">
                                                <img src="img/svg/icon-map.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                Xem bản đồ
                                                <a class="popup-gmaps"
                                                    href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
                                                    (Show map)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-item" data-aos="fade-up">
                                        <div class="item-txt item-big">
                                            <div class="item-icon">
                                                <img src="img/icon-hotline.svg" alt="">
                                            </div>
                                            <div class="txt">
                                                <p class="tt-26">HOtline</p>
                                                <a href="#" class="link active tt-29">0988 405 407</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="sec-map-lienhe">
                <div class="container">
                    <div class="cols">
                        <div class="col col-3--5" data-aos="fade-left">
                            <h3 class="tt tt-33 f-semi t-uppercase">Hệ thống phân phối</h3>
                            <div class="list-map">
                                <div class="map-item">
                                    <h3 class="tt-item">
                                        Trụ Sở Chính
                                    </h3>
                                    <p class="txt">Số 56 Đường 54, P.Tân Tạo, Q.Bình Tân, TP.HCM</p>
                                    <span class="txt">Tel: <a href="#" class="link active">028.62602481</a> / <a
                                            href="#" class="link">028.62600852</a></span>
                                </div>
                                <div class="map-item">
                                    <h3 class="tt-item">
                                        Văn Phòng Đại Diện Hà Nội
                                    </h3>
                                    <p class="txt">Số 11, DV07, KĐT Tây Nam Linh Đàm, P.Hoàng Liệt, Q. Hoàng Mai, Hà Nội
                                    </p>
                                    <span class="txt">Tel: <a href="#" class="link active">024.36845888</a> / <a
                                            href="#" class="link">024.36847888</a></span>
                                </div>
                                <div class="map-item">
                                    <h3 class="tt-item">
                                        Kho Hàng Tổng
                                    </h3>
                                    <p class="txt">Số 1 - 3 - 5 Đường 52B, P.Tân Tạo, Q.Bình Tân, TP.HCM</p>
                                    <span class="txt">Tel: <a href="#" class="link active">028.62602481</a> </span>
                                </div>
                                <div class="map-item">
                                    <h3 class="tt-item">
                                        Trụ Sở Chính
                                    </h3>
                                    <p class="txt">Số 56 Đường 54, P.Tân Tạo, Q.Bình Tân, TP.HCM</p>
                                    <span class="txt">Tel: <a href="#" class="link active">028.62602481</a> / <a
                                            href="#" class="link">028.62600852</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-8--5" data-aos="fade-right">
                            <select class="f-select">
                                <option value="">Trụ sở chính</option>
                                <option value="">Văn phòng đại diện</option>
                                <option value="">Kho hàng tổng</option>
                            </select>
                            <div class="wrapper-map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.419874953786!2d106.64809701472191!3d10.779118762091658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed189fa855d%3A0xf63e15bfce46baef!2sC%C3%B4ng%20ty%20TNHH%20-%20MONA%20MEDIA!5e0!3m2!1svi!2s!4v1630392901487!5m2!1svi!2s"
                                    width="600" height="450" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="footer sec-90 --pb-0">
            <div class="container">
                <div class="footer-top">
                    <div class="ft-wrappper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-header.png" alt="logo-header.png">
                                        </a>
                                    </div>
                                    <div class="ft-desc">
                                        <p class="ft-tt t-uppercase tt-20 f-semi">
                                            Công ty tnhh kỹ thuật hải âu
                                        </p>
                                        <p class="ft-t f-light">
                                            Là doanh nghiệp tiên phong và đi đầu trong lĩnh vực truyền động và tự động
                                            hóa tại Việt Nam tổng đại lý phân phối của các thương hiệu:
                                        </p>
                                        <div class="ft-desc-list">
                                            <p class="active">ABM</p>
                                            <p>KASUTO</p>
                                            <p>HAVAT</p>
                                            <p>HAWARA</p>
                                            <p>GONGJI...</p>
                                        </div>
                                    </div>

                                    <div class="ft-date t-light">
                                        Thời gian làm việc: Từ T2-T6 (08:00 - 17h)
                                        <img src="./img/img-check-bct.png" alt="img-check-bct.png">
                                    </div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-iner">
                                    <h3 class="ft-title tt-20 f-semi">
                                        Trụ sở chính
                                    </h3>

                                    <div class="ft-content">
                                        <ul class="ft-list">
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-location.svg" alt="icon-location.svg">
                                                <div class="ft-text">
                                                    <a href="#" class="ft-link">
                                                        Số 56 Đường 54, P.Tân Tạo, Q.Bình Tân, TP.HCM
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-call.svg" alt="icon-call.svg">

                                                <div class="ft-tex">
                                                    Tel:
                                                    <a href="tel:02862602481" class="ft-link active">
                                                        028.62602481
                                                    </a>
                                                    /
                                                    <a href="tel:02862600852" class="ft-link">
                                                        028.62600852
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-fax.svg" alt="icon-fax.svg">
                                                <div class="ft-text">
                                                    Fax:
                                                    <a href="tel:02862602486" class="ft-link">
                                                        028.62602486
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-email.svg" alt="icon-email.svg">
                                                <div class="ft-text">
                                                    Email:
                                                    <a href="mailto:info@hacomoto.com" class="ft-link">
                                                        info@hacomoto.com
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-map.svg" alt="icon-map.svg">
                                                <div class="ft-text">
                                                    Xem bản đồ
                                                    <a class="popup-gmaps"
                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
                                                        (Show map)
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-iner">
                                    <h3 class="ft-title tt-20 f-semi">
                                        Văn phòng đại diện hà nội
                                    </h3>

                                    <div class="ft-content">
                                        <ul class="ft-list">
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-location.svg" alt="icon-location.svg">
                                                <div class="ft-text">
                                                    <a href="#" class="ft-link">
                                                        Số 11, DV07, KĐT Tây Nam Linh Đàm, P.Hoàng Liệt, Q. Hoàng Mai,
                                                        Hà Nội
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-call.svg" alt="icon-call.svg">

                                                <div class="ft-tex">
                                                    Tel:
                                                    <a href="tel:02436845888 " class="ft-link active">
                                                        024.36845888
                                                    </a>
                                                    /
                                                    <a href="tel:02436847888" class="ft-link">
                                                        024.36847888
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-fax.svg" alt="icon-fax.svg">
                                                <div class="ft-text">
                                                    Fax:
                                                    <a href="tel:02436496888" class="ft-link">
                                                        024.36496888
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-email.svg" alt="icon-email.svg">
                                                <div class="ft-text">
                                                    Email:
                                                    <a href="mailto:info@hacomoto.com" class="ft-link">
                                                        info@hacomoto.com
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-map.svg" alt="icon-map.svg">
                                                <div class="ft-text">
                                                    Xem bản đồ
                                                    <a class="popup-gmaps"
                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
                                                        (Show map)
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-iner">
                                    <h3 class="ft-title tt-20 f-semi">
                                        Kho hàng tổng
                                    </h3>

                                    <div class="ft-content">
                                        <ul class="ft-list">
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-location.svg" alt="icon-location.svg">
                                                <div class="ft-text">
                                                    <a href="#" class="ft-link">
                                                        Số 1 - 3 - 5 Đường 52B, P.Tân Tạo, Q.Bình Tân, TP.HCM
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-fax.svg" alt="icon-fax.svg">
                                                <div class="ft-text">
                                                    Tel:
                                                    <a href="tel:02862602486" class="ft-link active">
                                                        028.62602481
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-fax.svg" alt="icon-fax.svg">
                                                <div class="ft-text">
                                                    Fax:
                                                    <a href="tel:02862602486" class="ft-link">
                                                        028.62602486
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-email.svg" alt="icon-email.svg">
                                                <div class="ft-text">
                                                    Email:
                                                    <a href="mailto:info@hacomoto.com" class="ft-link">
                                                        info@hacomoto.com
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ft-item">
                                                <img src="./img/svg/icon-map.svg" alt="icon-map.svg">
                                                <div class="ft-text">
                                                    Xem bản đồ
                                                    <a class="popup-gmaps"
                                                        href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
                                                        (Show map)
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ft-bottom">
                    <div class="ft-wrap">
                        <ul class="ft-list">
                            <li class="ft-item">
                                <a href="#" class="ft-link">
                                    Điều khoản sử dụng
                                </a>
                            </li>
                            <li class="ft-item">
                                <a href="#" class="ft-link">
                                    Chính sách bảo mật thông tin
                                </a>
                            </li>
                            <li class="ft-item">
                                <a href="#" class="ft-link">
                                    Chính sách vận chuyển
                                </a>
                            </li>
                            <li class="ft-item">
                                <a href="#" class="ft-link">
                                    Chính sách bảo hành
                                </a>
                            </li>
                            <li class="ft-item">
                                <a href="#" class="ft-link">
                                    Hình thức thanh toán
                                </a>
                            </li>
                        </ul>
                        <div class="ft-box-2">
                            <p class="ft-t t-uppercase f-semi">Kết nối</p>
                            <ul class="ft-list">
                                <li class="ft-item">
                                    <a href="#" class="ft-link">
                                        <img src="./img/svg/icon-face.svg" alt="icon-face.svg">
                                    </a>
                                </li>
                                <li class="ft-item">
                                    <a href="#" class="ft-link">
                                        <img src="./img/svg/icon-insta.svg" alt="icon-insta.svg">
                                    </a>
                                </li>
                                <li class="ft-item">
                                    <a href="#" class="ft-link">
                                        <img src="./img/svg/icon-twitter.svg" alt="icon-twitter.svg">
                                    </a>
                                </li>
                                <li class="ft-item">
                                    <a href="#" class="ft-link">
                                        <img src="./img/svg/icon-youtube.svg" alt="icon-youtube.svg">
                                    </a>
                                </li>
                                <li class="ft-item">
                                    <a href="#" class="ft-link">
                                        <img src="./img/svg/icon-gmail.svg" alt="icon-gmail.svg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="ft-wrap-2">
                        <div class="ft-text">
                            <p>Giấy chứng nhận ĐKKD số : 0304672878 do sở kế hoạch và đầu tư TP HCM cấp ngày : 08 tháng
                                11 năm 2006 </p>
                            <p>Mã số thuế : 0304672878</p>
                            <p>Giám Đốc / Chủ doanh nghiệp: Ông Phạm Văn Thao</p>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
        <!-- scroll top 2 -->
        <!-- <div class="scroll-top-progress">
            <svg height="100%" width="100%" viewBox="-1 -1 102 102">
                <path class="animated-circle" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 60.5547;"></path>
            </svg>
        </div> -->
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- video -->
    <script src="./js/libs/video/YouTubeToHtml5.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- fluidplayer -->
    <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>