.post-intro {
    overflow: hidden;

    &.post-intro-reverse {
        .columns {
            flex-direction: row-reverse;
        }
    }

    .column {
        &.intro-ig {
            width: calc(100% / 12 * 4.5);

            @include max-media($bk-d-992) {
                width: 100%;
            }
        }

        &.intro-txt {
            width: calc(100% / 12 * 7.5);

            @include max-media($bk-d-992) {
                width: 100%;
            }
        }
    }

    .columns {
        align-items: center;

        @include max-media($bk-d-1200) {
            align-items: flex-start;
        }
    }

    .intro-img {
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .intro-inner {
        .intro-tt {
            margin-top: 5px;
            margin-bottom: 21px;

            @include max-media($bk-d-1440) {
                margin-bottom: 15px;
            }

            @include max-media($bk-d-1200) {
                margin-bottom: 5px;
            }
        }

        .intro-t {
            margin-bottom: 20px;

            @include max-media($bk-d-1200) {
                margin-bottom: 8px;
            }
        }

        .intro-desc {
            margin-bottom: 20px;

            @include max-media($bk-d-1200) {
                margin-bottom: 5px;
            }

            p {
                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .intro-name {
            .intro-na {
                margin-bottom: 10px;
            }

            .intro-ky {
                display: flex;
                align-items: center;

                p {
                    margin-left: 16px;
                }
            }


        }

        .intro-logo {
            margin-bottom: 40px;
        }

        .intro-box {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;

            @include max-media($bk-d-1200) {
                margin: -7.5px;
            }
        }

        .intro-b {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;
            width: 50%;

            @include max-media($bk-d-1200) {
                padding: 7.5px;
            }

            @include max-media($bk-d-1024) {
                width: 100%;
            }

            &.intro-b-reverse {
                .intro-bx {
                    justify-content: flex-start;

                    @include max-media($bk-d-1200) {
                        justify-content: center;
                    }

                    &::after {
                        background-image: url('../img/img-intro-number-2.png');
                    }
                }

                .intro-text {
                    max-width: 190px;

                    @include max-media($bk-d-1200) {
                        max-width: 100%;
                    }
                }

                .intro-number {
                    padding-left: 10px;
                    padding-right: 0px;
                }
            }

            .intro-bx {
                position: relative;

                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                height: 162px;
                background-image: url('../img/bg-intro-1.png');
                background-size: cover;
                background-repeat: no-repeat;
                padding: 15px;


                @include max-media($bk-d-1200) {
                    justify-content: center;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    right: 5px;
                    bottom: 5px;
                    background-image: url('../img/img-intro-number-1.png');
                    background-repeat: no-repeat;
                    background-size: cover;

                    @include max-media($bk-d-1200) {
                        background: $w-cl;
                    }

                }
            }

            .intro-text {
                color: $main-cl;
                z-index: 2;
                max-width: 220px;

                @include max-media($bk-d-1200) {
                    max-width: 100%;
                }

                br {
                    @include max-media($bk-d-1200) {
                        display: none;
                    }
                }
            }

            .intro-number {
                font-size: 125px;
                color: $main-cl-2;
                z-index: 2;
                font-weight: bold;
                display: none;

                @include max-media($bk-d-1200) {
                    display: block;
                    font-size: 60px;
                    padding-right: 10px;
                }
            }

          
        }

        .intro-list {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
            padding-top: 50px;
            @include max-media($bk-d-992){
                padding-top: 30px;
            }

            .intro-item {
                padding: 15px;
                width: 50%;
                @include max-media($bk-576){
                    width: 100%;
                }
            }

            .intro-tem {
                display: flex;
            }

            .intro-icon {
                flex-shrink: 0;
                width: 64px;
                height: 64px;
                border-radius: 100%;
                box-shadow: 0 3px 7px rgba($color: $b-cl, $alpha: .16);
                background-color: $w-cl;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .intro-con {
                padding-left: 30px;
                width: calc(100% - 64px);
                color: $main-cl-2;
                @include max-media($bk-d-1200){
                    padding-left: 10px;
                }
            }

            .intro-tx {
                margin-bottom: 10px;
            }
        }

        .solu-list{
            display: flex;
            flex-wrap: wrap;
            margin: -15px;  
            justify-content: space-between;
            padding-top: 40px;
            .solu-item{
                padding: 15px;
                width: 50%;
            }

            .solu-tem{
                display: flex;
                align-items: center;
                p{
                    padding-left: 10px;
                    @include fz-16
                }
            }
        }
    }


}

.distributor {
    .distri-head {
        margin-bottom: 40px;
        @include max-media($bk-d-1200){
            margin-bottom: 25px;
        }

        .distri-title {
            margin-top: 5px;
        }
    }

    .distri-slide {

        .swiper-container {
            @include max-media($bk-d-1200) {
                padding-bottom: 30px;
            }
        }

        .swiper-slide {
            height: auto;
        }

        .swiper-pagination {
            display: none;

            @include max-media($bk-d-1200) {
                display: block;
            }
        }

        .distri-inner {
            border: 1px solid rgba($color: #707070, $alpha: .2);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .distri-img {
            padding: 15.5px 0;

            img {
                width: auto;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                margin: 0 auto;
            }
        }

        .distri-box {
            text-align: center;
            color: $main-cl-2;
        }

        .distri-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;

            i {
                margin: 0 8px;
            }
        }

        .distri-text {
            transition: all .3s ease;

            &:hover {
                text-decoration: underline;
            }
        }


    }

    .distri-box-more{
        text-align: center;
        margin-top: 40px;
        .distri-more{
            background-color: $main-cl-2;
            color: $w-cl;
            @include fz-16;
            padding: 12px 24px 11px;
            display: inline-block;
            transition: all .3s ease;
            &:hover{
                background-color: $main-cl;
            }

            i{
                margin-left: 8px;
            }
        }
    }
}

.our-team{
    .our-head{
        margin-bottom: 40px;
        .our-title{
            margin-top: 5px;
        }
    }

    .our-slide{
        .swiper-container{
            margin: -15px;
            padding-bottom: 45px;
        }
        .swiper-slide{
            width: calc(100% / 12 * 3);
            padding: 15px;
            // @include max-width($bk-d-1200){
            //     width: calc(100% / 12 * 4);
            // }
        }

        .swiper-pagination-bullet{
            width: 12px;
            height: 12px;
            opacity: 1;
            background-color: $w-cl;
            border: 1px solid $main-cl;

            &-active{
                background-color: $main-cl;
            }
        }

        .our-content{
            margin-top: 22px;
            color: $main-cl-2;
            .our-name{
                font-weight: normal;
                margin-bottom: 4px;
                transition: all .3s ease;
                &:hover{
                    color: $main-cl;
                }
            }

            .our-job{
                margin-bottom: 15px;
            }

            
        }

        .our-list{
            .our-item{
                display: flex;
                align-items: center;
            }

            .our-icon{
                flex-shrink: 0;
                
            }

            .our-link{
                padding-left: 8px;
                display: inline-block;
            }

            .our-item{
                &:not(:first-child){
                    margin-top: 8px;
                }
            }
        }
    }
}